<h1>AutoStripAttributes vs. Normalize</h1>

<p>This is a simple Rails app that demonstrates the difference between <code>auto_strip_attributes</code> and <code>normalize</code>.</p>

<p><%= link_to "AutoStripAttributes", as_artists_path %></p>
<p><%= link_to "Normalizes", n_artists_path %></p>
