<h1>Editing as artist</h1>

<%= render "form", as_artist: @as_artist %>

<br>

<div>
  <%= link_to "Show this as artist", @as_artist %> |
  <%= link_to "Back to as artists", as_artists_path %>
</div>
